.button {
  display: flex;
  align-items: center;
  gap: 0px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  color: #e0d849;
  font-weight: bolder;
}

.icon {
  font-size: 20px;
}

.user-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 8px;
  border: 1px solid #e0d849;
}

.avatar-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.username {
  margin-right: 4px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  width: 200px;
  background: linear-gradient(135deg, #012645, #093d67);
  border: 2px solid #e0d849;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 12px 0;
  font-family: 'Courier New', Courier, monospace;
  color: #ffffff;
  animation: fadeIn 0.3s ease-in-out;
  z-index: 999;
}

.dropdown-item {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  cursor: pointer;
  background: #012645;
  border-radius: 5px;
  color: white;
  margin-left: 5%;
}

.dropdown-item:hover {
  background: #093d67;
}

.dropdown-label {
  padding: 8px 16px;
  font-weight: bold;
}

.loader {
  width: 20px;
  height: 20px;
  border: 2px solid #ddd;
  border-top: 2px solid #012645;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 768px) {
  .dropdown-menu {
    position: static;
    transform: translateY(-45%);
  }
  .icon {
    z-index: 0;
  }
}
