.cartIconButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 22px;
}

.cartIconsSpan {
  position: relative;
  top: -36px;
  right: -30px;
  border-radius: 50%;
  background-color: white;
  font-size: 22px;
  font-style: bold;
  color: #ec9843;
  padding: 2px 4px;

  border: 1px solid #ec9843;
}
