.cart-icon-container {
  position: relative;
  display: inline-block;
}

.shopping-cart-icon {
  display: block;
}

.cartIconsSpan {
  position: absolute;
  top: -10px;
  right: -5px;
  background-color: var(--primary-color);
  color: yellow;
  font-size: 14px;
  font-weight: bold;
  height: 20px;
  min-width: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  font-family: "FiraGo", "Noto Sans Georgian", sans-serif;
  border: 2px solid white;
}
@media screen and (max-width: 1000px) {
  .cartIconsSpan {
    top: -8px;
    right: -5px;
    font-size: 12px;
    height: 18px;
    min-width: 18px;
  }
}
@media screen and (max-width: 480px) {
  .cartIconsSpan {
    top: -6px;
    right: -3px;
    font-size: 10px;
    height: 16px;
    min-width: 16px;
    border-width: 1px;
  }
}
