/* .logo {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: black;
} */
.auth-layout {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: url("/abstract-poster-background_670672-10372.avif");
  background-color: white;
  padding: 40px;
  padding-bottom: 80px;
  background-position: center;
  background-size: cover;
}
/* .auth-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh; 
  background: linear-gradient(to bottom, var(--primary-color), #03214b);
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
  z-index: 0;
} */

.auth-layout-inner {
  margin-top: 80px;
  width: 100%;
  max-width: 24rem;
  position: relative;
  z-index: 1;
  /* background: rgba(253, 245, 236, 0.52); */
  padding: 2rem;
  border-radius: 30px;
  box-shadow: 0 4px 10px var(--primary-color)b5;
  /* backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px);  */
}

.auth-layout-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.5rem; /* space-y-2 */
}

.auth-layout-title {
  font-size: 1.25rem; /* text-2xl */
  font-weight: 600; /* font-semibold */
  letter-spacing: 0.025em; /* tracking-tight */
  color: var(--primary-color);
}

.auth-layout-subtitle {
  font-size: 0.875rem; /* text-sm */
  color: var(--primary-color)b2;
}

.auth-layout-children {
  margin-top: 2rem; /* mt-8 */
}

@media screen and (max-width: 640px) {
  .auth-layout {
    padding: 0;
    padding-bottom: 70px;
  }
}
